h1, p {
  font-family: Lato;
}

@media only screen and (max-width: 1000px) {
  /* place here CSS for when the screen is less than 1000px wide */
  .cal-con {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .cal-con {
    width: 50%;
  }
}